@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #001e4d;
}
.container {
  background-color: #fff;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
  display: none;
}
#timer{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 7px;
}
#timer img{
  width: 4%;
}

 h1 {
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
    font-family: 'Dancing Script', cursive;
  color: #001e4d;
  font-weight: 700;
}
.quiz {
  padding: 20px 0;
}
.quiz h2 {
  font-weight: 600;
  font-size: 18px;
  font-weight: 600;
}
.btn {
  background-color: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #222;
  cursor: pointer;
  text-align: left;
  transition: all 0.3s;
}
.btn:hover:not([disabled]) {
  background-color: #222;
  color: #fff;
}
.btn:disabled {
  cursor: no-drop;
}
#next-btn {
  background-color: #001e4d;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  padding: 10px;
  border: 0;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 4px;
  display: none;
}
.correct {
  background-color: #9aeabc;
}
.incorrect {
  background-color: #ff9393;
}
#start-btn{
    background-color: #001e4d;
 color: #fff;
  cursor: pointer;
  font-weight: 600;
  padding: 10px;
  border: 0;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 4px;  
}
#summary{
     background-color: #fff;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
  
}
#summary p{
   margin-top: 20px
}
